@import "tailwindcss";
@import "antd/dist/reset.css";

/* Custom Fonts */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../src/assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}

/* Apply custom font to body */
body {
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
  --main-color: #7127ba;
  --background: #11071f;
}

.check {
  border: 1px solid red;
}

.custom-container {
  max-width: 1200px;
  margin: auto;
}
