@import "tailwindcss";
@import "antd/dist/reset.css";

/* Custom Fonts */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../src/assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}

/* Apply custom font to body */
body {
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: white;
}

:root {
  --main-color: #7127ba;
  --second-color: #9857d3;
  --background: #11071f;
}

.check {
  border: 1px solid red;
}

.custom-container {
  max-width: 1200px;
  margin: auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}
